.alugue-seu-produto {
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.8) 12.34%, rgba(0, 0, 0, 0) 84.1%), url(../img/back-alugue-seu-produto.png);
    background-repeat: no-repeat;
    background-position: 60% 40%;
    background-size: cover;
    box-shadow: inset -9px -12px 8px rgba(0, 0, 0, 0.25), inset 9px 10px 16px rgba(0, 0, 0, 0.25);
    margin: 3em;
    padding: 2em;
    height: 45vh;
    border-radius: 10px;
}

.alugue-texto {
    font-size: 3em;
    color: var(--branco);
    width: 50vw;
    margin-bottom: 1em;
}

.alugue-botao {
    color: var(--branco);
    background-color: #bb4501;
    padding: 1em 2em;
    text-decoration: none;
    border-radius: 5px;
    transition: 0.5s;
}

.alugue-botao:hover {
    background-color: var(--cor-destaque);
}

